/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
  
body {
  background-color: rgb(199, 244, 244);
  @apply bg-cyan-500 text-cyan-900 font-sans;
}
.bungee-tint-regular {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}
